*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

:root{
    --green-ligth:#1d744e94;
    --gray_ligth:#808080;
    --green-medium:#1d744e;
    --green-strong:#11613d;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0 3rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #1d744e94;
}

.navbar__logo{
    width: 2.5rem;
    height: 2.5rem;
}

.navbar__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
}

.navbar__list__item{
    list-style: none;
}

.navbar__list__item a{
    text-decoration: none;
    color: var(--gray_ligth);
}

.navbar__button{
    border: none;
    color: #094128;
    font-weight: bold;
    background-color: var(--green-ligth);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.main{
    display: flex;
    justify-content: center;
    height: 400px;
}

.main__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.main__text__green{
    color: var(--green-medium);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.75rem;
}

.main__title{
    color: var(--green-strong);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.main__text__gray{
    color: var(--gray_ligth);
    font-size: 0.9rem;
    width: 50%;
}

.main__input__container{
    margin-top: 2rem;
    display: flex; 
}

.main__input__container > input{
    background-color: rgba(128, 128, 128, 0.397);
    border: none;
    width: 200px;
    padding: 10px;
}

.main__input__container > input:focus{
    outline: 2px solid var(--gray_ligth);
}

.main__input__button{
    border: none;
    background-color: var(--green-medium);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    
}

.home{
    position: absolute;
    width: 700px;
    height:600px;
    right: -300px;
}

.full{
    margin: 0 auto;
    margin-top: 7rem;
    width: 750px;
    height: 438px;
    background-color: #808080;
    display: flex;
    justify-content: center;
}

.iconss{
    padding-top: 2rem;
    height: 400px;
    margin-right: 20px;
    width: 750px;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    
}

.iconss > p{
    margin-top: 2px;
    color: var(--gray_ligth);
}

.iconss > img{
    position: relative;
    top: 4rem;
    margin-top: -3rem;
    width: 600px;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.icon__container > img{
    width: 3.8rem;
    height: 3.2rem;
    border-radius: 50px;
    border: 2px solid white;
}

.icon__container__2{
    margin-left: -20px;
}

.icon__container__3{
    margin-left: -20px;
}

.icon__container__4{
    margin-left: -20px;
}

.icon__container__5{
    margin-left: -20px;
}

.main2{
    display: flex;
    justify-content: center;
    height: 300px;
}

.text__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
 
.full__card__container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: -4rem;
    width: 60%;
    height: 380px;
    background-color: rgba(179, 179, 179, 0.416);
    margin-bottom: 3rem;
}

.card__container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 360px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card__container:hover{
    background-color: #094128;
    transform: scale(1.05);
}

.card__container:hover > button{
    background-color: white;
    color: black;
}

.check{
    display: flex;
}

.card__container > img{
    width: 30px;
    margin-bottom: 1rem;
}

.card__container > button{
    width: 12rem;
}

.card__title{
    font-size: 18px;
    color: var(--green-medium);
}

.card__container > h2{
    color: var(--green-strong);
}

.card__container >p{
    font-size: 14px;
    color: var(--gray_ligth);
    margin-bottom: 1rem;
}

.check > p{
    color: var(--gray_ligth);
    font-size: 14px;
}


.check input[type="checkbox"] {
    accent-color: var(--green-ligth); /* Color del checkbox al estar marcado (solo en algunos navegadores modernos) */
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

.card__container > button {
    margin-top: 1rem;
    align-self: center;
    background-color: var(--green-ligth);
    border: none;
    padding: 6px;
    color: var(--green-strong);
    font-weight: bold;
}
  
 
 