*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(127, 192, 127); */
}

body{
    background-color: rgb(127, 192, 127);
}

.main{
    text-align: center;
    margin-top: 4rem;
}

.main h1, h2{
    color: #fff;
}

.cards{
    margin-top: 2rem;
    display: flex;
}

.cards-container{
    border: 2px solid rgb(79, 108, 50);
    background-color: rgb(177, 222, 132);
    border-radius: 15px;
    padding: 40px;
    margin: 0 70px;
}

.cards-container > h2{
    margin-bottom: 10px;
    
}

.images-container{
    text-align: center;
    margin-top: 4rem;
    color: #fff;
}

.images-container:hover{
    transform: scale(#000000);
}

.images{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.images-container-img{
    margin: 0 2rem;
    border-radius: 8px; 
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

.images-container-img img{
    width: 350px;
    height: 200px;
}

.images-container-img p{
    margin-top: -4px;
    background-color: aliceblue;
    color: #000000;
    font-size: 20px;
}

.contact-form {
    text-align: center;
    margin: 3rem auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(79, 108, 50);
    max-width: 600px;
    width: 100%;
    
}

footer p{
    color: #f1f1f1;
    margin-top: -10rem;
    margin: 3px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

h2 {
    margin-top: -20px;
    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #fff;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #218838;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #092e11;
}

.footer{
    background-color: #092e11;
    height: 50px;
    text-align: center;
}

.footer__text{
    padding-top: 20px;
}